* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: black;
  font-family: "Kanit", sans-serif;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #545454;
}

::-webkit-scrollbar-button {
  display: none;
}

.container,
.container-fluid {
  height: 100vh;
}

.title,
.number,
.typed-cursor {
  font-size: 4rem;
  font-weight: 600;
}

.title,
.typed-cursor {
  word-spacing: 0.5rem;
  letter-spacing: 0.5rem;
  z-index: 1;
}

.nav-item {
  cursor: pointer;
  margin: 4rem 2rem 0 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  overflow: hidden;
}

.nav-item:hover::after {
  content: "";
  display: block;
  background: white;
  margin-top: 0.5rem;
  height: 0.2rem;
  border-radius: 10px;
  -webkit-animation: line 0.2s ease;
          animation: line 0.2s ease;
}

.content-title {
  width: 40rem;
  height: 10rem;
  left: 50%;
  border-radius: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-title--background {
  position: absolute;
  font-size: 8rem;
  font-weight: 800;
  color: #9b9b9b42;
}

.about {
  background: #131313;
}

.about__exp {
  width: 30rem;
  height: 40rem;
}

.about__exp--plus {
  font-size: 7rem;
}

.about__exp--number {
  color: #9b9b9b;
  letter-spacing: 1rem;
  margin: 14rem 4rem 0 4rem;
  font-size: 14rem;
  font-weight: 600;
}

.about__exp--desc {
  line-height: 4rem;
  letter-spacing: 0.3rem;
  margin: 0 4rem;
  font-size: 2.6rem;
  font-weight: 600;
}

.about__desc {
  margin-top: 20rem;
  font-size: 3.4rem;
  font-weight: 800;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20rem;
  height: 20rem;
  background: #9b9b9b;
  border-radius: 2rem;
  margin-left: 5rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.about__card:hover {
  cursor: pointer;
  background: #bcbcbc;
  color: black;
}

.about__card--item {
  width: 10rem;
  margin-bottom: 4rem;
  margin-left: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.project {
  height: 80vh;
}

.project__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__images--item {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 20px;
  background-size: cover;
  width: 30%;
  height: 40%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project__images--item:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  cursor: pointer;
}

.project__images--text {
  position: absolute;
  top: 80%;
  opacity: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.project__details {
  position: absolute;
  width: 30%;
  top: 20%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 4rem;
  font-weight: 700;
}

.project__details::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-top: 1.2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 30%;
  height: 0.1rem;
  border: 1px solid white;
  border-radius: 20px;
  background: white;
}

.contact {
  background: #131313;
  height: 90vh;
}

.contact__title {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title h1 {
  margin-left: 16rem;
  font-size: 8rem;
  font-weight: 800;
  color: #9b9b9bbb;
}

.contact__title::after {
  content: "";
  position: absolute;
  left: 40%;
  background: #9b9b9b;
  width: 0.1rem;
  height: 40rem;
  border: 1px solid #9b9b9b;
  border-radius: 10px;
}

.contact__form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__form--input {
  border: none;
  border-bottom: 0.5px solid #9b9b9b;
  background: none;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  width: 60rem;
  height: 4rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact__form--input:focus {
  outline: none;
  border-bottom: 3px solid white;
}

.contact__form--button {
  display: block;
  outline: none;
  background: #9b9b9b;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__form--button:hover {
  background: white;
  color: black;
}

.contact__label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.card-up {
  margin-bottom: 5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.link-text {
  position: absolute;
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.link-text:hover {
  color: #131313;
}

.completed-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  color: #9b9b9b;
}

.home-button {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  display: inline-block;
  background: #bcbcbc;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.home-button:hover {
  color: white;
  background: #545454;
}

.footer {
  height: 20vh;
}

.footer__paragraph {
  font-size: 2rem;
  font-weight: 600;
  color: #bcbcbc;
}

@-webkit-keyframes line {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes line {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media only screen and (max-width: 600px) {
  .title,
  .typed-cursor {
    font-size: 1rem;
    font-weight: 800;
  }
}
/*# sourceMappingURL=styles.css.map */